/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
.env
.phpunit.result.cache

_ide_helper.php
.phpstorm.meta.php

/storage
/public_html/storage

/app/Http/Controllers/Project
/app/Providers/ComposerProjectServiceProvider.php
/app/Http/ViewComposers/Project
/public_html/project
/resources/views/project
/routes/project.php