/*
Error: Invalid CSS after "...           // }": expected "}", was ""
        on line 3784 of E:/OSPanel/domains/CRMSystem/public_html/crm/sass/app.scss

3779:                                                 //     transform: scale(20);
3780:                                                 //     letter-spacing: 10em;     /* IE 9 fix *\/
3781:                                                 //     -ms-transform: scale(20); /* IE 9 fix *\/
3782:                                                 //     opacity: 0;
3783:                                                 //     cursor: pointer
3784:                         // }

Backtrace:
E:/OSPanel/domains/CRMSystem/public_html/crm/sass/app.scss:3784
E:/Progs/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:1166:in `expected'
E:/Progs/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:1101:in `expected'
E:/Progs/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:1096:in `tok!'
E:/Progs/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:643:in `block'
E:/Progs/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:635:in `ruleset'
E:/Progs/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:660:in `block_child'
E:/Progs/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
E:/Progs/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:117:in `stylesheet'
E:/Progs/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:42:in `parse'
E:/Progs/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/engine.rb:393:in `_to_tree'
E:/Progs/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/engine.rb:268:in `render'
E:/Progs/compass.app/lib/ruby/compass_1.0/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `render'
E:/Progs/compass.app/lib/ruby/compass_1.0/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
E:/Progs/compass.app/lib/ruby/compass_1.0/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
E:/Progs/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
org/jruby/RubyMethod.java:128:in `call'
file:/E:/Progs/compass.app/compass-app.jar!/hook/compass_patch.rb:108:in `update_stylesheet'
E:/Progs/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `update_stylesheets'
org/jruby/RubyArray.java:1613:in `each'
E:/Progs/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
E:/Progs/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
E:/Progs/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:328:in `watch'
org/jruby/RubyProc.java:271:in `call'
E:/Progs/compass.app/lib/ruby/jruby/listen-1.3.1-patched/lib/listen/listener.rb:252:in `on_change'
E:/Progs/compass.app/lib/ruby/jruby/listen-1.3.1-patched/lib/listen/listener.rb:290:in `initialize_adapter'
org/jruby/RubyProc.java:271:in `call'
E:/Progs/compass.app/lib/ruby/jruby/listen-1.3.1-patched/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
E:/Progs/compass.app/lib/ruby/jruby/listen-1.3.1-patched/lib/listen/adapter.rb:297:in `start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...           // }\": expected \"}\", was \"\"\A         on line 3784 of E:/OSPanel/domains/CRMSystem/public_html/crm/sass/app.scss\A \A 3779:                                                 //     transform: scale(20);\A 3780:                                                 //     letter-spacing: 10em;     /* IE 9 fix */\A 3781:                                                 //     -ms-transform: scale(20); /* IE 9 fix */\A 3782:                                                 //     opacity: 0;\A 3783:                                                 //     cursor: pointer\A 3784:                         // }"; }
