@charset "UTF-8";

// Сброс настроек compass
@import "../reset";

// -------------------------- Переменные -------------------------------------
@import "partials/variables";

// ------------------------- Foundation -------------------------------------
@import 'foundation/foundation';

// ------------------------ Moution UI ------------------------
@import '~motion-ui/motion-ui';

// ---------------------------- Шрифты -------------------------------------
@import "partials/fonts";

// -------------------------- Чекбоксы -------------------------------------
@import "partials/inputs";

// -------------------------- Каркас -------------------------------------
@import "partials/wraps";

// -------------------------- Навигация -------------------------------------
@import "partials/nav";

// -------------------------- Меню социальных сетей -------------------------
@import "partials/social";

// --------------------------- Внешние пакеты -------------------------------
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";


html, body{
    height: 100%;
}

.grid-container{
    max-width: 1300px;
    padding: 0 18px;
}

h1{
    font-family: Gilroy;
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1.2rem;
}

h2{
    font-size: 2rem;
    font-family: Gilroy;
    font-weight: 500;
    margin-bottom: 0rem;
    color: $black;
}

.h2-second{
    font-size: 1.2rem;
    font-family: Gilroy;
    font-weight: 600;
    color: $red-wood;
    margin-bottom: 0rem;
}

.small-text{
	font-family: opensans;
	font-size: 0.8rem;
	font-weight: 400;
	color: $gray-dark;
	letter-spacing: 1px;
}

h4, .h4{
	font-family: opensans;
	font-size: 0.9rem;
	font-weight: bold;
	color: $black;
	letter-spacing: 0px;
}


p, a, tr, th, input, label {
	font-family: opensans;
	font-size: 1rem;
	font-weight: 400;
}

.list-social-network{
	li {
		margin: 0;
	}
}

.wrap-phone{
	padding-top: 1.1rem;
	text-align: right;
}

.button{
	width: 200px;
	height: 40px;
	padding: 11px 20px 9px 20px;
	box-sizing: border-box;
	border: 2px solid $blue;
	text-align: center;
	border-radius: 28px;
	color: $black;
	background-color: $white;
	letter-spacing: 2px;
	font-family: Gilroy;
	font-size: 0.9rem;

	&:hover{
		background-color: $blue;
		color: $white;
		border: 2px solid $blue;
	}
}

.wrap-gallery{
	margin-bottom: 4rem;
}

.list-tours{
	margin-left: 0;
	li{

		.wrap-item{
			margin-left: auto;
			margin-right: auto;
			max-width: 530px;
			padding: 0 1rem;
			box-sizing: border-box;
		}

		margin: 0px 0px;

		img{
			border-radius: 17px;
		}

		padding-bottom: 2rem;
	}
}

.wrap-button-right{
	text-align: right;
}

.wrap-button-center{
	text-align: center;
}

.price{
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 1.2rem;
	font-weight: 500;
	font-family: gilroy;
	padding-bottom: 1rem;
	color: $green-yellow;
}

.data-date{
	padding: 10px 30px;
	color: $red-wood;
	font-family: Gilroy;
	font-weight: 500;
	text-decoration: uppercase;
	font-size: 0.8rem;
	letter-spacing: 1px;
	display: inline-block;
	width: 100%;
	background: url(img/icons/svg/calendar.svg) no-repeat 0px 11px;
	background-size: 16px 16px;
	margin-bottom: 0.8rem;
}

.wrap-service-photo{
	position: relative;
	padding-bottom: 1rem;
}

.wrap-participant{
	text-align: center;
	font-size: 0.8rem;
	padding-bottom: 1rem;
	color: $gray-dark;

	.count-participants{
		color: $black;
		font-weight: 500;
	}
}

.wrap-service-duration{
	padding-top: 12px;
	position: absolute;
	top: 0px;
	left: 75%;
	width: 80px;
	height: 76px;
	background-color: $white;
	text-align: center;
	box-sizing: border-box;
	line-height: 0.9;
}

.count-day-tour{
	display: inline-block;
	width: 100%;
	font-family: Gilroy;
	font-size: 2.6rem;
	color: $red-wood;
	font-weight: 600;
}

.desc-day-tour{
	display: inline-block;
	width: 100%;
	font-family: opensans;
	font-size: 1rem;
	text-decoration: lowercase;
}

.events-list{
		padding-top: 3rem;
	li{

		padding-bottom: 2rem;

		.small-text{
			display: inline-block;
			padding-bottom: 1rem;
		}		
	}

}

.wrap-extra-info{
	padding: 2rem 2.8rem;
	background-color: $gray-light;
	margin-bottom: 3rem;
	font-size: 0.9rem;

	p{
		font-size: 0.9rem;
	}

	.list-extra-info > li{
		padding: 0px 0px 2rem 0px;
	}

}

.wrap-main-content p:first-child{
	content: url(img/quotation_marks.svg);
}

.tour-main-block{
	padding-right: 10rem;
}

.tabs-panel{
	padding-top: 2rem;
	padding-left: 0;
	padding-right: 0;
}

.tab-profile{
	li{
		width: 200px;
		box-sizing: border-box;
		border: none;
		border-bottom: 5px solid $gray-light;

		a{
			text-align: center;
			letter-spacing: 1px;
			color: $gray-dark;
			font-family: Gilroy;
			font-size: 0.9rem;
			text-transform: uppercase;
			font-weight: 400;
			background: none;
		}

		&.is-active{
			border-bottom: 5px solid $red-wood;

			a{
				color: $black;
				font-weight: 500;
			}
		}

		& a:hover{
			background-color: $gray-light;
			color: $black;
		}
	}
}

section{
	margin-bottom: 4rem;
}

ul {
    list-style-type: none;
}

input{
    outline: none;
    box-shadow: none !important;

}

input:focus{
    box-shadow: none;
}

input[type='text']{
    padding-bottom: 0.35rem;
    padding-left: 1rem;  
}

label{
	font-size: 0.8rem;
	color: $gray-dark;
    // padding-left: 1rem;
	font-family: opensans;
}


header{
	padding: 40px 0px 10px 0px;
	border-bottom: 1px solid $black;

}

.block-logo, .block-nav{

}

.wrap-submit-button{
	padding-top: 2rem;
	text-align: right;
}

/* Slider */

.wrap-slick{
    padding-bottom: 2rem;
}

.my-tours-list{
	margin: 0rem 0rem;

	img{
		border-radius: 17px;
	}

}

.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

@include breakpoint(medium up) {
	.fields-column{
		padding-right: 3rem;
	}

	.wrap-my-tour-img{
		padding-right: 130px;
	}
}

.wrap-one-photo{
	border-right: 2px solid white;
	overflow: hidden;
}

.wrap-second-photo{
	border-bottom: 2px solid white;
	overflow: hidden;
}

