.checkboxer-categories {
    width: 100%;
    display: block;
    top: 0px;
    float: left;
    border: none;
    z-index: 1000;
    margin-left: 0px;
    padding-top: 1px;
    box-sizing: border-box;
    left: 0;
    height: auto;



    li {
        line-height: 1.2;
        float: left;
        background: #fff;
        border-top: 1px solid #eee;
        border-bottom: 1px solid transparent;
        list-style-type: none;
        width: 100%;

        &:first-child {
            border-top: 1px solid transparent;
        }

        &:hover {
            background: #efefef;
        }

        label {
            width: 100%;

            @for $i from 2 to 10 {
                .level-#{$i} {
                    margin-left: ($i - 1rem);
                }
            }
        }

        .checkboxer-categories {
            margin-left: 0px;
        }
    }
}
