/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/layout";
@import "compass/typography";
@import "compass/utilities";
@import "breakpoint";
// @import 'foundation';

// --------------------------------- Миксины ------------------------------

// Размер шрифта
@mixin font ($font, $font-size, $line-height) {
    font-family: $font;
    font-size: ($font-size/16)+rem;
    line-height: $line-height/18;
}

// Межстрочный интервал
// @mixin line-height ($size) {
  //   line-height: ($size/18)+rem;
  // }

  @mixin vertical-align {
   position: relative;
   top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
   // @include transform (translateY(-50%));
}

// ------------------------------ Медиа ширины -------------------------------
$small: 640px;
$medium: 1024px;
// $fence-sm: $small $medium;

// ---------------------------------- Шрифты -------------------------------------

// SegoeUI
@include font-face("SegoeUIBold", font-files(
   "/project/css/fonts/SegoeUI/SegoeUIBold/PSegoeUIBold.woff", 
   "/project/css/fonts/SegoeUI/SegoeUIBold/SegoeUIBold.ttf"
   ), 
"/project/css/fonts/SegoeUI/SegoeUIBold//SegoeUIBold.eot" /* относительный путь к .eot файлу для IE */
);
@include font-face("SegoeUIItalic", font-files(
   "/project/css/fonts/SegoeUI/SegoeUIItalic/SegoeUIItalic.woff", 
   "/project/css/fonts/SegoeUI/SegoeUIItalic/SegoeUIItalic.ttf" 
   ), 
"/project/css/fonts/SegoeUI/SegoeUIItalic//SegoeUIItalic.eot" /* относительный путь к .eot файлу для IE */
);
@include font-face("SegoeUILight", font-files(
   "/project/css/fonts/SegoeUI/SegoeUILight/SegoeUILight.woff", 
   "/project/css/fonts/SegoeUI/SegoeUILight/SegoeUILight.ttf"
   ), 
"/project/css/fonts/SegoeUI/SegoeUILight//SegoeUILight.eot" /* относительный путь к .eot файлу для IE */
);
@include font-face("SegoeUISemiLight", font-files( 
   "/project/css/fonts/SegoeUI/SegoeUISemiLight/SegoeUISemiLight.ttf"
   ), 
"/project/css/fonts/SegoeUI/SegoeUISemiLight//SegoeUISemiLight.eot" /* относительный путь к .eot файлу для IE */
);
@include font-face("SegoeUIRegular", font-files(
   "/project/css/fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.woff", 
   "/project/css/fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.ttf"
   ), 
"/project/css/fonts/SegoeUI/SegoeUIRegular//SegoeUIRegular.eot" /* относительный путь к .eot файлу для IE */
);
@include font-face("SegoeUISemiBold", font-files(
   "/project/css/fonts/SegoeUI/SegoeUISemiBold/SegoeUISemiBold.woff", 
   "/project/css/fonts/SegoeUI/SegoeUISemiBold/SegoeUISemiBold.ttf"
   ),
"/project/css/fonts/SegoeUI/SegoeUISemiBold//SegoeUISemiBold.eot" /* относительный путь к .eot файлу для IE */
);

$SUIB: "SegoeUIBold";
$SUII: "SegoeUIItalic";
$SUIL: "SegoeUILight";
$SUISL: "SegoeUISemiLight";
$SUIR: "SegoeUIRegular";
$SUISB: "SegoeUISemiBold";

// DinTextPro
@include font-face("PFDinTextPro-Light", font-files(
   "/project/css/fonts/DinTextPro/PFDinTextPro-Light.ttf"
   )
);

@include font-face("PFDinTextPro-Medium", font-files(
  "/project/css/fonts/DinTextPro/PFDinTextPro-Medium.ttf"
  )
);
$PFDTPL: "PFDinTextPro-Light";
$PFDTPM: "PFDinTextPro-Medium";

// DinTextCondensedPro
@include font-face("PFDinTextCondPro-Light", font-files(
   "/project/css/fonts/DinTextCondensedPro/PFDinTextCondPro-Light.ttf"
   )
);
@include font-face("PFDinTextCondPro-Thin", font-files(
   "/project/css/fonts/DinTextCondensedPro/PFDinTextCondPro-Thin.ttf"
   )
);
@include font-face("PFDinTextCondPro-Regular", font-files(
   "/project/css/fonts/DinTextCondensedPro/PFDinTextCondPro-Regular.ttf"
   )
);
@include font-face("PFDinTextCondPro-Bold", font-files(
   "/project/css/fonts/DinTextCondensedPro/PFDinTextCondPro-Bold.ttf"
   )
);

$PFDTCondPL: "PFDinTextCondPro-Light";
$PFDTCondPR: "PFDinTextCondPro-Regular";
$PFDTCondPT: "PFDinTextCondPro-Thin";
$PFDTCondPB: "PFDinTextCondPro-Bold";

// DinTextCompressedPro
@include font-face("PFDinTextCompPro-Light", font-files(
   "/project/css/fonts/DinTextCompressedPro/PFDinTextCompPro-Light.ttf"
   )
);
@include font-face("PFDinTextCompPro-Regular", font-files(
   "/project/css/fonts/DinTextCompressedPro/PFDinTextCompPro-Regular.ttf"
   )
);
@include font-face("PFDinTextCompPro-Thin", font-files(
   "/project/css/fonts/DinTextCompressedPro/PFDinTextCompPro-Thin.ttf"
   )
);

$PFDTCompPL: "PFDinTextCompPro-Light";
$PFDTCompPR: "PFDinTextCompPro-Regular";
$PFDTCompPT: "PFDinTextCompPro-Thin";

// Calibri
@include font-face("Calibri", font-files(
   "/project/css/fonts/Calibri.ttf"
   )
);

$Cal: "Calibri";


// -------------------------------------------Общие настройки ---------------------------------------------
html {
   font: 16px;
   // font-family: $dtconp;
   // font-weight: $light;

}

// header, footer, section, nav, blockquote, main {
  // 	display: block;
  // }

  body {
   // background-color: #f4f4f4;
   background: url('img/bg.png');
   height: auto;
}
a {
   @include font($Cal, 19.2, 36);
   color: #00a0ca;
   padding: 0.4rem;
}

p {
   @include font($SUISL, 19.2, 30);
   margin-bottom: 2rem;
}

$body-font-color: #35636f;
$default-text-color: #010731;
$link-color: #00a0ca;
$black-blue: #316588;

h2 {
  font-size: 2rem;
  font-family: $SUIR;
}


// ------------------------------------------ Спрайты --------------------------------------------
.sprite {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    background: url(sprites/sprites.png) no-repeat;

    :focus {
      outline: none;
  }
}

.icon-vk {
	background-position: 0px 0px;
}

// ------------------------------------------- Хедер ----------------------------------------

.header {
	margin: 2rem 0 0 0;

	h1 {
		@include font($PFDTCondPR, 30, 24);
		color: $default-text-color;

        @include breakpoint($medium 1215px) {
                @include font($PFDTCondPR, 24, 24);
            }
		
	}

	address {
		@include font($PFDTPL, 18, 24);
		color: #000;
	}

	.staff-list {

        margin-top: 5rem;

        @include breakpoint(0 $medium) {
          margin-bottom: 2rem;
      }

      li {

          @include breakpoint(0 $small) {
            margin-bottom: 2rem;
        }

        .staffer {
            @include font($PFDTCondPL, 24, 24);
            color: $default-text-color;
            background-color: #fff;
            padding: 0.4rem 1rem;
        }

        .phone {
            @include font($PFDTPM, 22, 18);
            color: $default-text-color;
            padding: 0.4rem 1rem;

            @include breakpoint($medium 1215px) {
                @include font($PFDTPM, 18, 18);
            }

        }

        .worktime-open {
            @include font($PFDTPL, 16, 24);
            color: #336470;
            display: inline-block;
            text-decoration: underline;

            &:hover {
             text-decoration: none;
         }

         @include breakpoint($medium 1215px) {
                display:block;
            }
     }
     .worktimes-pane {
      width: 200px;
      padding: 0;
      background-color: #a6a65c;
  }

  .worktimes {
      @include font($PFDTPL, 18, 24);
      color: #fff;
      background-color: #a6a65c;
      padding: 0.4rem 1rem;

      &:hover {
        cursor: pointer;
      }

      // @include breakpoint($medium 1215px) {
      //           @include font($PFDTPL, 18, 18);
      //           padding: 0.4rem 0.4rem;
      //       }

  }

  .worktimes-table {
      @include font($PFDTPL, 16, 24);
      color: #fff;
      border-collapse: collapse;

      caption {
        font-weight: normal;
    }

    tbody {
       border: none;
   }
   tr {

       td {
        background-color: #a6a65c;

    }
}


.day-now {

 td {
  background-color: #c5a74d;
}
}
}
}
}
}

.navigation {
    margin-top: 1rem;
	margin-bottom: 4rem;
}

$menu-hover-lines-transition: all 0.35s ease;
$menu-hover-lines-border-width: 3px;

.menu-hover-lines {
	// margin: 2rem 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
	transition: $menu-hover-lines-transition;

	li a {
        @include font($PFDTPL, 18, 24);
        color: #35636f;
        padding: 0.75rem 1rem;
        color: rgba($body-font-color, 0.5);
        position: relative;
        margin-left: 1rem;

        // @include breakpoint(0 740px) {
        //         &:last-child {
        //             margin-left: 0;
        //             margin-top: 0.3rem;
        //         }
        //     }
    }

    // li:first-child a {
    //     margin-left: 0;
    // }

    li.active > a {
        background-color: #fff;
    }

    a:before,
    a::after {
        height: $menu-hover-lines-border-width;
        position: absolute;
        content: '';
        transition: $menu-hover-lines-transition;
        background-color: $default-text-color;
        width: 0;
    }

    a::before {
        top: 0;
        left: 0;
    }

    a::after {
        bottom: 0;
        right: 0;
    }

    a:hover,
    li.active > a {
        color: $default-text-color;
        transition: $menu-hover-lines-transition;
    }

    a:hover::before,
    a:hover::after,
    {
        width: 100%;
    }
}

// ----------------------------------------- Слайдер -------------------------------------
// .orbit-next, .orbit-previous {
  // 	z-index: 6;
  // }

  .orbit {
   margin-bottom: 2rem;
}

.orbit-slide {
  position: relative;

  .img-desc {
    position: absolute;
    right: 1rem;
    bottom: 5rem;
    padding: 1rem;
    @include font($PFDTCondPR, 30, 24);
    color: #fff;
}
}

// ------------------------------------------ Клиника --------------------------------------
.departments {
  margin-top: 4rem;

  h4 {
    @include font($SUISL, 18, 18);
    color: #000;
    margin-bottom: 2rem;
}

dl {

    dt {
      @include font($SUISB, 19.2, 30);
      color: #000;
  }

  dd {
      @include font($SUISL, 19.2, 30);
      color: #000;
  }
}
}

// ------------------------------------------ Услуги --------------------------------------
.services {

 .head-item-nav {
  @include font($PFDTCondPR, 30, 24);
  color: $default-text-color;
}

a {
  @include font($Cal, 22, 22);
  color: #00a0ca;
  text-decoration: none;
  padding: 0.4rem 0;

  &:hover {
   text-decoration: underline;
}
}

}

.service {

	.head-item-nav {
		@include font($Cal, 18, 24);
		color: $default-text-color;
		text-transform: uppercase;
	}

	a {
		color: #00a0ca;
		text-decoration: none;
		padding: 0.4rem 0.8rem;
		margin-left: -0.8rem;

		&:hover {
			text-decoration: underline;
		}
	}

	.active {
		color: #fff;
		background-color: $black-blue;
	}

	.services-nav {

        .head-item-nav {
          font-weight: bold;
          margin-bottom: 0.8rem;
      }

      ul {
         margin-bottom: 2.5rem;

         a {
          @include font($Cal, 22, 22);
      }
  }
}

.service-category {

  h3 {
   @include font($PFDTCondPL, 24, 30);
   color: #000;
   border-bottom: 3px solid #fff;
   margin-bottom: 2rem;
}

.service-photo {
   margin-bottom: 2rem;
}

ol, ul {
  list-style-type: disc;
  margin-bottom: 2rem;

  li {
    @include font($SUISL, 19.2, 30);
    margin-left: 2rem;
    margin-bottom: 0.6rem;
}
}

.services-table {

 caption {
  @include font($SUISB, 19.2, 30);
}

tbody {

  tr {

    td {
      @include font($SUIR, 19.2, 30);
  }

  .price {
    width: 150px;
  }
}
}
}
}
}

.title {
	@include font($SUISL, 20, 30);
	margin-bottom: 4rem;
	text-transform: uppercase;
	overflow: hidden;
}

.title:before, .title:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	width: 100%;
	height: 3px;
	background: #fff;

}
.title:before {
	margin-left: -100%;
	margin-right: 2rem;
}
.title:after {
	margin-right: -100%;
	margin-left: 2rem;
}



.about {

    .bio {
        @include breakpoint(0 $medium) {

          margin-bottom: 2rem;
      }
    }

	.media {
		margin-bottom: 3rem;

         .logo {

            min-width: 250px;

            @include breakpoint(0 $small) {

          max-width: 80%;
      }
  }

      
  }

  .media-info {
    @include breakpoint(0 $small) {

          margin-top: 1rem;
      }

  }

  h3 {
    @include font($SUISL, 20, 30);
    margin-bottom: 2rem;
}

dl {

    dt {
     @include font($SUISL, 16, 30);
     font-weight: normal;
 }

 dd {
     @include font($SUISB, 16, 30);
 }
}


}


dl {
	margin-bottom: 2rem;
}

.contacts {

  .contacts-info {

    & > div {
        margin-bottom: 1rem;
    }



    h3 {
      @include font($PFDTPM, 20, 30);
      color: #000;
      margin-bottom: 2rem;
  }

  address, ul, a {
      @include font($PFDTPL, 18, 18);
      color: #000;
      padding: 0.4rem 0;
  }

  a {
      display: inline-block;

      &:hover {
        color: $link-color;
    }
}
}

}
// -------------------------------------------- Footer -----------------------------------------------------
$footer-color: #fff;
$footer-bg-color: #a60000;

.footer {
	margin-top: 5rem;
  background-color: #fff;
  height: 5rem;

  .copyright {
    display: block;
}

.studio {
    margin-top: 2rem;

    span, a {
      @include font($SUISL, 16, 30);
      color: $default-text-color;
  }

  a {
     text-decoration: underline;

     em {
      color: #ff6565;
  }
}

a:hover {
   text-decoration: none;
   color: $link-color;
}
}

@include breakpoint(0 $small) {
  .cell {
   margin-bottom: 2rem;
}
.cell:last-child {
   margin-bottom: 0;
}
}
}

