
// Основные цвета проекта Magic World Tour

$black: #000000;
$white: #ffffff;

$black-light: #1f1f1f;

// Оттенки серого

$gray-light: #F8F8F8;
$gray: #CCCCCC;
$gray-dark: #898989;


// Цвета

$blue: #0066C5;
$blue-green: #0095C5;
$red-wood: #C54100;
$green-yellow: #04C500;
