$blue: #0200f9;
$light-blue: #0084ff;
$blue-link: #0095ff;
$gray: #666666;
$gray-light: #999;
$white-dark: #ccc;
// $old-vian: #2f7599;
$old-vian: #284a63;

// $company-color: #284a63;
$company-color: #004f75;
$green-gray: #009e41;
$yellow: #ffd05b;