.icon {
	display: inline-block;
	width: 32px;
	height: 32px;

}

.icon-clock{
	width: 19px;
	height: 19px;
	background: url(img/icons/svg/clock.svg) no-repeat;
	margin-right: 0.6rem;
}

.icon-geopoint{
	width: 20px;
	height: 20px;
	background: url(img/icons/svg/geopoint.svg) no-repeat 3px 0px;
	margin-right: 0.6rem;
}

.icon-email{
	width: 16px;
	height: 16px;
	background: url(img/icons/svg/email-green.svg) no-repeat 0px 0px;
	background-size: 16px;
	margin: 0 8px 0 0;
}

.wrap-img-email{
	display: inline-block;
	width: 100px;
	height: 100px;
	background: url(img/icons/svg/message.svg) no-repeat 0px 0px;
	background-size: 100px;
	margin: 0 8px 0 0;
}
