
// ==========   Семейство SegoeUI   ===========

@font-face{
  font-family: SegoeUI;
  src: url('./fonts/SegoeUI/SegoeUILight/SegoeUILight.eot');
  src: url('./fonts/SegoeUI/SegoeUILight/SegoeUILight.eot?#iefix') format('embedded-opentype'),
  url('./fonts/SegoeUI/SegoeUILight/SegoeUILight.woff') format('woff'),
  url('./fonts/SegoeUI/SegoeUILight/SegoeUILight.ttf') format('truetype');

  font-style: normal;
  font-weight: 200;
};

@font-face{
  font-family: SegoeUI;
  src: url('./fonts/SegoeUI/SegoeUISemiLight/SegoeUISemiLight.eot');
  src: url('./fonts/SegoeUI/SegoeUISemiLight/SegoeUISemiLight.eot?#iefix') format('embedded-opentype'),
  url('./fonts/SegoeUI/SegoeUISemiLight/SegoeUISemiLight.woff') format('woff'),
  url('./fonts/SegoeUI/SegoeUISemiLight/SegoeUISemiLight.ttf') format('truetype');

  font-style: normal;
  font-weight: 300;
};

@font-face{
  font-family: SegoeUI;
  src: url('./fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.eot');
  src: url('./fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.eot?#iefix') format('embedded-opentype'),
  url('./fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.woff') format('woff'),
  url('./fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.ttf') format('truetype');

  font-style: normal;
  font-weight: 400;
};

@font-face{
  font-family: SegoeUI;
  src: url('./fonts/SegoeUI/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix') format('embedded-opentype'),
  url('./fonts/SegoeUI/SegoeUISemiBold/SegoeUISemiBold.woff') format('woff'),
  url('./fonts/SegoeUI/SegoeUISemiBold/SegoeUISemiBold.ttf') format('truetype');

  font-style: normal;
  font-weight: 500;
};

@font-face{
  font-family: SegoeUI;
  src: url('./fonts/SegoeUI/SegoeUIBold/SegoeUIBold.eot?#iefix') format('embedded-opentype'),
  url('./fonts/SegoeUI/SegoeUIBold/SegoeUIBold.woff') format('woff'),
  url('./fonts/SegoeUI/SegoeUIBold/SegoeUIBold.ttf') format('truetype');

  font-style: normal;
  font-weight: 600;
};





// ==========   Семейство PFDinDisplayPro   ===========

@font-face{
  font-family: PFDinDisplayPro;
  src: url('./fonts/DinDisplayPro/PFDinDisplayPro-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
};

@font-face{
  font-family: PFDinDisplayPro;
  src: url('./fonts/DinDisplayPro/PFDinDisplayPro-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 200;
};


@font-face{
  font-family: PFDinDisplayPro;
  src: url('./fonts/DinDisplayPro/PFDinDisplayPro-Reg.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
};

@font-face{
  font-family: PFDinDisplayPro;
  src: url('./fonts/DinDisplayPro/PFDinDisplayPro-Med.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
};




// ==========   Семейство PFDinTextPro   ===========

@font-face{
  font-family: PFDinTextPro;
  src: url('./fonts/DinTextPro/PFDinTextPro-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
};

@font-face{
  font-family: PFDinTextCondPro;
  src: url('./fonts/DinTextCondensedPro/PFDinTextCondPro-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
};




// ==========   Семейство Calibri   ===========

@font-face {
    font-family: Calibri;
    src: url('./fonts/Calibri/Calibri-LightItalic.eot');
    src: local('Calibri Light Italic'), local('Calibri-LightItalic'),
        url('./fonts/Calibri/Calibri-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Calibri/Calibri-LightItalic.woff2') format('woff2'),
        url('./fonts/Calibri/Calibri-LightItalic.woff') format('woff'),
        url('./fonts/Calibri/Calibri-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Calibri;
    src: url('./fonts/Calibri/Calibri-Italic.eot');
    src: local('Calibri Italic'), local('Calibri-Italic'),
        url('./fonts/Calibri/Calibri-Italic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Calibri/Calibri-Italic.woff2') format('woff2'),
        url('./fonts/Calibri/Calibri-Italic.woff') format('woff'),
        url('./fonts/Calibri/Calibri-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Calibri;
    src: url('./fonts/Calibri/Calibri-Light.eot');
    src: local('Calibri Light'), local('Calibri-Light'),
        url('./fonts/Calibri/Calibri-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Calibri/Calibri-Light.woff2') format('woff2'),
        url('./fonts/Calibri/Calibri-Light.woff') format('woff'),
        url('./fonts/Calibri/Calibri-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Calibri;
    src: url('./fonts/Calibri/Calibri-Bold.eot');
    src: local('Calibri Bold'), local('Calibri-Bold'),
        url('./fonts/Calibri/Calibri-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Calibri/Calibri-Bold.woff2') format('woff2'),
        url('./fonts/Calibri/Calibri-Bold.woff') format('woff'),
        url('./fonts/Calibri/Calibri-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Calibri;
    src: url('./fonts/Calibri/Calibri.eot');
    src: local('Calibri'),
        url('./fonts/Calibri/Calibri.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Calibri/Calibri.woff2') format('woff2'),
        url('./fonts/Calibri/Calibri.woff') format('woff'),
        url('./fonts/Calibri/Calibri.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Calibri;
    src: url('./fonts/Calibri/Calibri-BoldItalic.eot');
    src: local('Calibri Bold Italic'), local('Calibri-BoldItalic'),
        url('./fonts/Calibri/Calibri-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Calibri/Calibri-BoldItalic.woff2') format('woff2'),
        url('./fonts/Calibri/Calibri-BoldItalic.woff') format('woff'),
        url('./fonts/Calibri/Calibri-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
