.tabs-leads {
    padding-top: 1rem;
}


#table-estimate, .table-estimate {

    border-collapse: separate;
    border-spacing: 0px 2px !important;

    thead{

        tr th {
            background-color: #eee;
            border-bottom: 1px solid #000 !important;
            font-style: 400;
            font-size: 0.8rem;
            font-weight: normal;
        }

    }

    tbody {

        tr {

            td {

                background-color: $table-bg-color !important;
                padding: 0.15rem 0.6rem 0.15rem !important;
                font-size: 0.9rem;
                line-height: 1.2rem;

                .points {
                    color: darkred;
                }

                .points-mode {
                    cursor: pointer;

                }

                .button{
                    min-width: 70px;
                }
            }
        }
    }

    tbody tr:first-child td {
        border-top: 5px solid #eee;
    }

}

// Оформлением сметы на ЛИДе
.button-to-reserve{
    position: relative;
    top: 3px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('img/pushpin.svg') 4px 4px no-repeat;
    background-size: 16px;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

tr:hover .button-to-reserve{
    opacity: 0.3;
}

.icon-comment {
    position: relative;
    top: 3px;
    display: inline-block;
    width: 20px;
    height: 16px;
    background: url('img/comment.svg') 0px 0px no-repeat;
    background-size: 16px;
    // opacity: 0;
    transition: opacity 0.5s ease;
    cursor: pointer;
    margin-left: 5px;
}

.commentable {

    .icon-comment {
        position: relative;
        transition: opacity 0.5s ease;
    }

    .hide-comment {
        opacity: 0;
    }

    &:hover {

        .icon-comment {
            opacity: 1;
        }
    }

    .wrap-comment {
        position: relative;
        display: inline-block;

        .dropdown-comment {
            position: absolute;
            top: 30px;
            left: 0;
            visibility: visible;
            display: block;

            //width: 100px;
            //background-color: white;
            //border: 1px solid black;

            textarea {
                resize: vertical;
            }

        }
    }
}

// tr th .button-to-reserve{
//     opacity: 0.3;
// }

.button-to-reserve:hover{
    opacity: 1 !important;
}

.lead-estimate{
    .td-action{
        max-width: 50px;
    }

    .td-delete{
        max-width: 50px;
    }

    .td-amount{
        max-width: 70px;

        .button{
            width: 70px;
        }
    }
}

.point-value, .percent-symbol{
    font-size: 0.8rem;
    color: #999;
}

.lead-contacts-block{
    margin-bottom: 1rem;
    max-width: 500px;
}

.wrap-lead-address, .wrap-lead-name{
    max-width: 350px;
}
.wrap-lead-email, .wrap-lead-company{
    max-width: 250px;
}

.wrap-lead-add-contacts{
    margin-left: 1rem;
}

.case_number_field{
    padding: 5px 0.4rem;
    width: auto;
    height: 2.4rem;
    background-color: $body-bg-color;
    cursor: text;
    border-style: none;
    border: 1px solid transparent;
}

input.case_number_field[readonly]{
    background-color: $body-bg-color;
}

.case_number_field:hover{
    background-color: white;
    cursor: text;
    border: 1px solid #ddd;
    &[readonly]{
        cursor: text;
    }
}

.input-with-buttons{

    input[type="number"]{
        margin-top: 3px;
        margin-bottom: 3px;
        height: 26px;
        padding: 0 10px;        
    }

    .left, .right{
        outline: none;
        width: 30px;
        height: 29px;
        border: 1px solid transparent;
        text-align: center;
        transition: background-color 0.1s ease;

        &:hover{
            background-color: rgba(190,190,190,0.3);
        }
    }
}

table.lead-estimate {

    tr.item:hover td {
        background-color: #f5f5f5 !important;
    }

    margin-bottom: 1rem;

}

span.item-currency{
    color: #999;
    font-size: 0.8rem;
}


// Модалка настройки позиции
.modal-item-estimate-total{
    margin-top: 1rem;
    tr td{
        background-color: white;
        border-bottom: 1px dotted #ddd;
        padding: 4px 5px;
        font-size: 0.9rem;
    }

     .width-limit-3{
        width: 130px
     }

    tbody tr:last-child td{
        padding-top: 7px;
        font-weight: 500;
     }

    .invert-show{
        font-family: $PFDDPM;
        font-size: 1.5rem;
    }
}