.tabs-leads {
    padding-top: 1rem;
}


#table-estimate, .table-estimate {

    border-collapse: separate;
    border-spacing: 0px 2px !important;

    thead{

        tr th {
            background-color: #eee;
            border-bottom: 1px solid #000 !important;
            font-style: 400;
            font-size: 0.8rem;
            font-weight: normal;
        }

    }

    tbody {

        tr {

            td {

                background-color: $table-bg-color !important;
                padding: 0.15rem 0.6rem 0.15rem !important;
                font-size: 0.9rem;
                line-height: 1.2rem;

                .points {
                    color: darkred;
                }

                .points-mode {
                    cursor: pointer;

                }

                .button{
                    min-width: 70px;
                }
            }
        }
    }

    tbody tr:first-child td {
        border-top: 5px solid #eee;
    }

    tbody tr:last-child td{
        border-bottom: 3px solid #eee;
    }

}

// Оформлением сметы на ЛИДе
.button-to-reserve{
    position: relative;
    top: 3px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('img/pushpin.svg') 4px 4px no-repeat;
    background-size: 16px;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

tr:hover .button-to-reserve{
    opacity: 0.3;
}

.icon-comment {
    position: relative;
    top: 3px;
    display: inline-block;
    width: 20px;
    height: 16px;
    background: url('img/comment.svg') 0px 0px no-repeat;
    background-size: 16px;
    // opacity: 0;
    transition: opacity 0.5s ease;
    cursor: pointer;
    margin-left: 5px;
}

.commentable {

    .icon-comment {
        position: relative;
        transition: opacity 0.5s ease;
    }

    .hide-comment {
        opacity: 0;
    }

    &:hover {

        .icon-comment {
            opacity: 1;
        }
    }

    .wrap-comment {
        position: relative;
        display: inline-block;

        .dropdown-comment {
            position: absolute;
            top: 30px;
            left: 0;
            visibility: visible;
            display: block;

            //width: 100px;
            //background-color: white;
            //border: 1px solid black;

            textarea {
                resize: vertical;
            }

        }
    }
}

// tr th .button-to-reserve{
//     opacity: 0.3;
// }

.button-to-reserve:hover{
    opacity: 1 !important;
}

.lead-estimate{
    .td-action{
        max-width: 50px;
    }

    .td-delete{
        max-width: 50px;
    }

    .td-amount{
        max-width: 70px;

        .button{
            width: 70px;
        }
    }
}

.point-value, .percent-symbol{
    font-size: 0.8rem;
    color: #999;
}

.lead-contacts-block{
    margin-bottom: 1rem;
    max-width: 500px;
}

.wrap-lead-address, .wrap-lead-name{
    max-width: 350px;
}
.wrap-lead-email, .wrap-lead-company{
    max-width: 250px;
}

.wrap-lead-add-contacts{
    margin-left: 1rem;
}

.case_number_field{
    padding: 5px 0.4rem;
    width: auto;
    height: 2.4rem;
    background-color: $body-bg-color;
    cursor: text;
    border-style: none;
    border: 1px solid transparent;
}

input.case_number_field[readonly]{
    background-color: $body-bg-color;
}

.case_number_field:hover{
    background-color: white;
    cursor: text;
    border: 1px solid #ddd;
    &[readonly]{
        cursor: text;
    }
}

.input-with-buttons{

    input[type="number"]{
        margin-top: 3px;
        margin-bottom: 3px;
        height: 26px;
        padding: 0 10px;        
    }

    .left, .right{
        outline: none;
        width: 30px;
        height: 29px;
        border: 1px solid transparent;
        text-align: center;
        transition: background-color 0.1s ease;

        &:hover{
            background-color: rgba(190,190,190,0.3);
        }
    }
}

table.lead-estimate {

    tr.item:hover td {
        background-color: #f5f5f5 !important;
    }

    margin-bottom: 1rem;

}

span.item-currency{
    color: #999;
    font-size: 0.8rem;
}


// Модалка настройки позиции
.modal-item-estimate-total{
    margin-top: 1rem;
    tr td{
        background-color: white;
        border-bottom: 1px dotted #ddd;
        padding: 4px 5px;
        font-size: 0.9rem;
    }

     .width-limit-3{
        width: 130px
     }

    tbody tr:last-child td{
        padding-top: 7px;
        font-weight: 500;
     }

    .invert-show{
        font-family: $PFDDPM;
        font-size: 1.5rem;
    }
}



// УПРАВЛЕНИЕ ДОБАВЛЕНИЕМ ТОВАРА

// Добавление товара


.view-settings-panel, .global-settings-panel{
    padding: 8px 0px;
    margin-bottom: 10px;
}

.view-settings-panel{
    text-align: left;
}

.global-settings-panel{
    text-align: right;
}

.catalog-bar{
    width: 200px !important;
}


.selecter-catalog-item{
    a{
        color: black;
        font-size: 0.9rem;
    }
}



// UL / КАТАЛОГ в ЛИДе
.products-list{

    li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        transition: width 0.2s ease;
        transition: height 0.2s ease;

        a{
            display: block;
            width: 100%;
        }
    }
}


// Настройка СТРОЧНОГО отображения товаров
.view-list.products-list{

    .counter-price-goods{
        display: none;
    }



    li {

        width: 100%;
        margin-bottom: 1px;

        .extra-info{
            color: black;
        }

        .with-discount {
            color: red;
        }

        a {

            .prise-photo{
                display: none;
            }

            background-color: #ffffff;
            padding: 8px 0.5rem 8px 1rem;
            color: black;
            font-size: 0.9rem;


            .items-product-description{
                display: none;
            }

            .items-product-img{
                display: none;
            }

            .wrap-product-price{
                width: 60px;
            }

            .main-block{
                width: 80%;
            }

            .extra-block{
                width: 20%;
            }

            .points{
                color: #ccc;
            }

            .price-hit{
                color: #ffa51f;
                font-size: 0.8rem;
            }

            .price-new{
                color: #82e23a;
                font-size: 0.8rem;
            }

            .price-discount{
                color: #ccc;            
            }
        }


        &.priority a{
            padding: 8px 0.5rem 8px 0.5rem;
            border-left: 0.5rem solid black;
        }

        a:hover{
            background-color: #f7f7f7;
        }
    }
}

// Настройка БЛОЧНОГО отображения товаров
.view-block.products-list{

    a {
        font-family: SegoeUIRegular;
        transition: background-color 0.3s ease;
        position: relative;
        font-size: 0.8rem;
        display: block;
        float: left;
        padding: 10px;
        width: 100%;
        height: 30px;
        background-color: #fff;
        color: #000;
        border-radius: 4px;
        box-shadow: 1px 1px 0px 1px #eee;
        line-height: 1.2;
        text-decoration: none;
        border: 1px solid white;

    }

    a:hover{
        background-color: #f7f7f7;
    }

    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;


    li {

        float: left;
        width: 100%;


        a {

            .prise-photo{
                display: none;
            }

            padding: 10px;
            height: 80px;
            background-color: #5B6B87;
            color: #fff;

            .items-product-description{
                display: none;
            }
            .items-product-img{
                display: none;
            }


            .points{
                color: #aaa;
            }

            .extra-info{
                bottom: 3;
            }
            .price-name{
                height: 48px;
            }

            .price-hit, .price-new, .price-discount{
                font-size: 0.6rem;
                margin-right: 3px;
            }

            .price-hit{
                color: #ffa51f;
            }

            .price-new{
                color: #82e23a;
            }

            .price-discount{
                color: #ccc;            
            }


        }

        a:hover{
            background-color: #4B5B77;
        }

        a:active{
            background-color: #ff239d;
        }

        &.priority{
            a{
                background-color: black;
            }
            
        }

    }


    @media screen and (min-width: 500px) and (max-width: 1680px) {
        li {
            float: left;
            width: 50%;
        }
    }

    @media screen and (min-width: 1680px) and (max-width: 3000px) {
        li {
            float: left;
            width: 33.33%;
        }
    }


}

// Настройка отображения в виде КАРТОЧЕК
.view-card.products-list{

    li {

        width: 100%;

        a {
            position: relative;
            font-size: 0.9rem;
            display: block;
            float: left;
            padding: 10px;
            margin: 1px;
            width: 100%;
            height: 200px;
            background-color: #fff;
            color: #000;
            border-radius: 4px;
            box-shadow: 1px 1px 0px 1px #eee;
            line-height: 1.2;
            text-decoration: none;

            .items-product-description{
                display: block;
            }

            .items-product-img{
                display: block;
            }

            h4{
                margin-bottom: 1rem;
            }

            .media-object-section{
                padding-right: 1rem;
            }

            span.items-product-manufacturer{
                color: #999;
            }

            .points{
                font-family: SegoeUIRegular;
                color: #aaa;
            }
        }

        a:hover{
            background-color: #f7f7f7;
        }
    }
}


.catalog-bar {
    .item-catalog:hover > a{
        background-color: #f7f7f7;
    }

    .get-products{
        color: #000;
        font-size: 0.9rem;
    }
}

tfoot{

    font-family: $SUISB;
    td {
        padding-top: 2px;
        padding-bottom: 2px;
        font-weight: normal;
        font-size: 0.9rem;
    }

    .tfoot-discount-info{

        background-color: #fff797;
        td{
            padding-top: 6px;
            padding-bottom: 6px;
            font-size: 0.9rem;
            font-weight: 500;            
        }

        &:first-child td{
            margin-top: 5px;
            border-top: 1px black solid;             
        }

        .tfoot-discount-currency{
            span{
                padding: 0.3em 1em;
                min-width: 70px;
            }
        }

    }

    .tfoot-discount-info:first-child{
        padding-top: 10px;
    }


    tr.tfoot-estimate-amount{
        td{
            border-top: 3px black solid;
            padding-top: 10px;
        }      
    }

    .tfoot-estimate-amount, .tfoot-estimate-discount, .tfoot-estimate-total{

    }
}