/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */



// ВЫКЛЮЧАЕМ ЭЛЕМЕНТЫ ИНТЕРФЕЙСА

.sidebar, .task-manager, .header, .breadcrumbs, .top-bar-right, .button-group, #pagination{
	display: none;
}

a[href]:after {
	content: "";
}

a{
	text-decoration: none;
}

.content-table{
	.td-checkbox, .td-drop, .td-control, .td-archive{
		display: none;
	}
}

.black-button-group{
	display: none;
}

.top-bar{
	padding-bottom: 0;
}

.filters{
	padding-top: 0;
}

#wrapper{
	height: 100%
}

.content{
	padding-top: 1rem;
}

.head-content{
	padding: 0;
}


// СТИЛИ ДЛЯ СКЛАДСКОГО СТИКЕРА

.check-order {

	.client-name, .client-phone{
		width: auto;
		font-size: 1rem;
	}

	.name, .phone{
		font-size: 1rem;
	}	

	.print_table{

		caption{
			.check-number{
				font-family: PFDinDisplayPro;
				font-size: 4rem;
			}
		}
	}
}
